<section about>
	<section>
		<h1>Trojan</h1>
		<article>University of Southern California<br><br>Viterbi School of Engineering<br><br>Computer Science<br><br>&#10003; Bachelors<br><br>Masters [in progress]</article>
	</section>
	<section>
		<h1>Triathlete</h1>
		<article>Officer in USC Tri Team<br><br>{{ racecount }} Races Completed<br><br>Ironman Canada 2015 Finisher<br><br>4x USAT Collegiate Nationals<br><br>2x USAT Age Group Nationals<br><br>Goal: IM Kona Qualifier</article>
	</section>
	<section>
		<h1>Engineer</h1>
		<article>Software Engineer<br><br>Interned at Garmin and Intel<br><br>Mobile and Web Personal Projects<br><br>Backend is Satisfying<br><br>Frontend is Fun</article>
	</section>
</section>