<section about>
	<section>
		<h1>Trojan</h1>
		<article>I am a student at the University of Southern California.  I have received my Bachelors in Computer Science, and am currently pursuing a Masters in Computer Science.</article>
	</section>
	<section>
		<h1>Triathlete</h1>
		<article>My triathlon career began in 2012 when I joined the Tri Team at USC, and has since become an integral part of my life. In 2015 I completed my first full Ironman in Canada.</article>
	</section>
	<section>
		<h1>Engineer</h1>
		<article>As a Software Engineer, I mainly enjoy creating mobile apps, for both Android and iOS, and websites.  Whatever work I do, I like to see physical results that hopefully make someone's day a little better.</article>
	</section>
</section>