<section addrace>
	<form ng-submit="addRace(racename, date, overall, swim, bike, run, password)">
		<input type="text" placeholder="Name of Race" ng-model="racename">
		<input type="text" placeholder="Date of Race" ng-model="date">
		<input type="text" placeholder="Overall Time" ng-model="overall">
		<input type="text" placeholder="Swim Time" ng-model="swim">
		<input type="text" placeholder="Bike Time" ng-model="bike">
		<input type="text" placeholder="Run Time" ng-model="run">
		<input type="password" placeholder="PASSWORD" ng-model="password">
		<button type="submit">Add Race</button>
	</form>
</section>