<section work>
	<h1>Software Engineer</h1>
	<!-- <section> -->
		<ul>
			<li><a href="https://www.linkedin.com/in/danielcantwell"><img src="assets/linkedin.png"></a></li>
			<li><a href="https://github.com/danielcantwell"><img src="assets/github.png"></a></li>
		</ul>
	<!-- </section> -->
	<section>
		<h2>Mobile Apps</h2>

		<section>
			<a href="https://play.google.com/store/apps/details?id=com.cantwellcode.fitfriend&hl=en">Fit-Friend</a>
			<article>Android app for fitness and health enthusiasts. It has the ability to record gym workouts and run, as well as track nutrition. In addition to basic logging, it gives feedback in the form of chart analyses, to visualize trends and improvements.</article>
		</section>
		

		<section>
			<h3>USC Triathlon</h3>
			<article>iOS app for the USC Triathlon team.  It allows people to RSVP for events and easily make carpools with people and bikes.  It also allows for team discussions and announcements from officers.  Soon people will be able to pay dues through it.</article>
		</section>
	</section>
	<section>
		<h2>Websites</h2>

		<section>
			<a href="http://www.iamhelen.com">Helen of Troy</a>
			<article>Helen of Troy was a Sexual Assault Awareness campaign at USC. LAPD went to a club on campus, requesting their help with this campaign, and I created the website for them. I use Firebase to keep track of and display people who make a pledge.</article>
		</section>

		<section>
			<a href="http://www.trojanmarketinggroup.com">Trojan Marketing Group</a>
			<article>Trojan Marketing Group is a club at USC I co-founded to create marketing material for clients.  We are taking over the work for LAPD, and are working with LA Phil Harmonic for our next project.</article>
		</section>
	</section>
	<section>
		<h2>Jobs</h2>

		<section>
			<h3>Intel - Application Developer Intern</h3>
			<article>Summer 2015 in Folsom, CA</article>
			<article>I started off by doing a build vs buy analysis of a log-parsing utility.  I built a web-app that could be used to search and parse logs, and compared it to LogStash (which we ended up using).<br>I then built an iOS app for use by the lab workers, so they could scan assets and quickly find information about them.<br>Finally, I made their online ticket tracking tool mobile friendly.</article>
		</section>

		<section>
			<h3>Garmin - Software Engineer Intern</h3>
			<article>Summers 2014 and 2013 in Diamond Bar, CA</article>
			<article>The first summer I worked on building a simulator for one of the navigation units in C++.</article>
			<article>The second summer, I worked on various tools for the output logs of a simulator.  I wrote many Lua scripts for automated testing.  I compacted over 100 existing scripts into 4 scripts for easy maintanence.  I created a tool in C# to automatically upload and run scripts, and record their logs in a SQL database.  Then I used Microsoft Report Builder to format and display the logs in a web app.</article>
		</section>
	</section>
</section>